# Table of Contents
 <p><div class="lev1"><a href="#Preprocessing"><span class="toc-item-num">1&nbsp;&nbsp;</span>Preprocessing</a></div><div class="lev2"><a href="#Imports-and-loading-the-data"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Imports and loading the data</a></div><div class="lev2"><a href="#Cleaning-the-data"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Cleaning the data</a></div><div class="lev3"><a href="#Remove-constant-a-duplicate-columns"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Remove constant a duplicate columns</a></div><div class="lev3"><a href="#Save-the-IDs-and-TARGETs-and-drop-them-from-the-dataframe"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Save the IDs and TARGETs and drop them from the dataframe</a></div><div class="lev3"><a href="#Look-for-outliers-and-missing-values"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Look for outliers and missing values</a></div><div class="lev1"><a href="#Feature-Analysis"><span class="toc-item-num">2&nbsp;&nbsp;</span>Feature Analysis</a></div>

# Preprocessing
## Imports and loading the data

In [1]:
from __future__ import division

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Input data files are available in the "./input/" directory.
# load data
df_train = pd.read_csv('./input/train.csv')
df_test = pd.read_csv('./input/test.csv')

df_train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

## Cleaning the data
### Remove constant a duplicate columns
We remove any constant columns and any duplicated columns (identical values) as these can have no signature in the dependent variable. Note that we remove the constant and duplicate columns in the training set **and the test set**.

In [2]:
# remove constant columns
remove = []
for col in df_train.columns:
    if df_train[col].std() == 0:
        remove.append(col)

df_train.drop(remove, axis=1, inplace=True)
df_test.drop(remove, axis=1, inplace=True)

# remove duplicated columns
remove = []
c = df_train.columns
for i in range(len(c)-1):
    v = df_train[c[i]].values
    for j in range(i+1,len(c)):
        if np.array_equal(v,df_train[c[j]].values):
            remove.append(c[j])

df_train.drop(remove, axis=1, inplace=True)
df_test.drop(remove, axis=1, inplace=True)

### Save the IDs and TARGETs and drop them from the dataframe

In [4]:
IDs = df_train["ID"]
TARGETs = df_train["TARGET"]

df_train.drop(["ID", "TARGET"], axis=1, inplace=True)
df_test.drop(["ID"], axis=1, inplace=True)

df_train.head()

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [15]:
np.set_printoptions(threshold=np.nan)
df_train.apply(np.std, axis=0)

var3                              39033.205631
var15                                12.956401
imp_ent_var16_ult1                 1614.746692
imp_op_var39_comer_ult1             339.313599
imp_op_var39_comer_ult3             546.262701
imp_op_var40_comer_ult1              93.155136
imp_op_var40_comer_ult3             153.736054
imp_op_var40_efect_ult1              30.604662
imp_op_var40_efect_ult3              36.513273
imp_op_var40_ult1                    95.267578
imp_op_var41_comer_ult1             319.603414
imp_op_var41_comer_ult3             512.151454
imp_op_var41_efect_ult1             531.894419
imp_op_var41_efect_ult3             950.080149
imp_op_var41_ult1                   697.708007
imp_op_var39_efect_ult1             535.470228
imp_op_var39_efect_ult3             953.572352
imp_op_var39_ult1                   712.762552
imp_sal_var16_ult1                  465.388088
ind_var1_0                            0.106425
ind_var1                              0.061221
ind_var5_0                            0.200534
ind_var5                              0.472422
ind_var6_0                            0.010258
ind_var6                              0.005129
ind_var8_0                            0.178201
ind_var8                              0.166673
ind_var12_0                           0.250923
ind_var12                             0.208315
ind_var13_0                           0.222530
                                     ...
saldo_medio_var12_hace3            9292.691605
saldo_medio_var12_ult1            46202.232815
saldo_medio_var12_ult3            35506.949625
saldo_medio_var13_corto_hace2     26359.000852
saldo_medio_var13_corto_hace3      7182.595291
saldo_medio_var13_corto_ult1      31886.405463
saldo_medio_var13_corto_ult3      25572.076860
saldo_medio_var13_largo_hace2     13082.069823
saldo_medio_var13_largo_hace3      4698.837170
saldo_medio_var13_largo_ult1      16006.875284
saldo_medio_var13_largo_ult3      12422.436668
saldo_medio_var13_medio_hace2        34.625291
saldo_medio_var13_medio_ult3         73.376030
saldo_medio_var17_hace2           15392.374472
saldo_medio_var17_hace3            8612.338567
saldo_medio_var17_ult1            14956.427853
saldo_medio_var17_ult3            13082.071414
saldo_medio_var29_hace2              41.820169
saldo_medio_var29_hace3               0.526623
saldo_medio_var29_ult1               52.078433
saldo_medio_var29_ult3               31.879208
saldo_medio_var33_hace2             455.884220
saldo_medio_var33_hace3             113.958888
saldo_medio_var33_ult1              783.202248
saldo_medio_var33_ult3              538.435669
saldo_medio_var44_hace2            2013.112152
saldo_medio_var44_hace3             147.785612
saldo_medio_var44_ult1             4040.311268
saldo_medio_var44_ult3             2852.560635
var38                            182663.397074
dtype: float64

### Look for outliers and missing values

Before we work hard to remove outliers and missing values, we should perform a rough feature extraction to determine which columns are important. We can then focus on cleaning up those columns.

# Feature Analysis
Now we are left with a training data set containing 306 independent variables. We somehow have to determine which of these affect customer satisfaction. As a first pass, we use the scikit-learn package to perform univariate feature selection (SelectKBest) with the F-test for feature scoring (f_classif).

In [8]:
from sklearn.feature_selection import SelectKBest, SelectPercentile, f_classif

X, y = df_train, TARGETs
print(type(X), " ", X.shape)

selector = SelectKBest(f_classif, k=10)
selector.fit(X,y)
print(type(selector))
scores = -np.log10(selector.pvalues_)

print(scores['inf'], " ", len(scores))

<class 'pandas.core.frame.DataFrame'>   (76020, 306)
<class 'sklearn.feature_selection.univariate_selection.SelectKBest'>

/Users/dhudsonsmith/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:11: DeprecationWarning: using a non-integer number instead of an integer will result in an error in the future

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices